<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('template/file') %>
</head>

<body>
  <%- include('template/header') %>
  <div class="container-fluid">
    <div id="content" class="row">
      <%- include('template/menue',{ name : '职位管理' }) %>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <%- include('template/crumbs',{ name : [{
                    value:'职位管理',link:''
                }] }) %>
        <div class="col-10 offset-1">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">职位名称</th>
                <th scope="col">工作地点</th>
                <th scope="col" width="200">操作</th>
              </tr>
            </thead>
            <tbody>
              <% infos.forEach((v,i)=>{ %>
              <tr>
                <th class="align-middle"><%= i+1 %></th>
                <td class="align-middle"><%= v.postName %></td>
                <td class="align-middle"><%= v.postCity %></td>
                <td>
                  <a class="btn btn-primary btn-sm" href="/index/postupdate/<%= v.postId %>">编辑</a>
                  <a class="btn btn-danger btn-sm" href="/post/postdelete/<%= v.postId %>"> 删除 </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>

        </div>
        <div aria-label="Page divigation example" class="d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="/admin/postedit/<%= now - 1 %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% for(var i=1;i<=pages;i++){ %>
            <% if( i >= now - 5 && i <= now + 5  ){ %>
            <li class="page-item <%= now == i ? 'active' : '' %>"><a class="page-link"
                href="/index/postedit/<%= i %>"><%= i %></a></li>
            <%  } %>
            <% } %>
            <li class="page-item">
              <a class="page-link" href="/index/postedit/<%= now + 1 %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </main>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">操作</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          是否删除当前该数据？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" onclick="handleRemove()">确定</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    var postId = 0;
    function handleId(id) {
      postId = id;
    }
    function handleRemove() {
      $.ajax({
        url: '/post/remove',
        data: { postId },
        dataType: 'json',
        success(res) {
          if (res.code == 0) {
            location.reload();
          }
        }
      });
    }
  </script>
</body>

</html>